/* Remove all default padding and margin from the page */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbars */
    background-color: #333; /* CHANGED FROM #000 */
}

/* Make the canvas fill the entire screen */
canvas {
    display: block;
}
